<div class="container" fxLayoutAlign="center start">
    <div class="card" fxLayoutAlign="center center" >
        <div class="overlay">
        </div>
        <img src="../../assets/banner.png" class="image"/>
    </div>
    
    <div fxLayout="column" class="curriculumBox">
        <div fxFlex="85" fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center center"> 
                <span>Imagem</span>
            </div>
            <div fxFlex="50" fxFlex="row" fxLayoutAlign="center center">
                <div style="text-align: center;">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p>Paulo César R. Dos Santos</p>
                        <p>Programdor</p>
                    </div>
                    <br>
                    <div fxLayout="column">
                        <p>Telefone:</p>
                        <p>(16) 99321-7548</p>
                    </div>
                    <br>
                    <div fxLayout="column">
                        <p>E-mail:</p>
                        <p>Paulo.cr93@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="15" fxLayout="row" class="rodape">
            <div fxFlex="100" fxLayoutGap="30" fxLayoutAlign="center center"> 
                <img src="../../assets/git.png" width="30px" alt="">
                <img src="../../assets/in.png" width="30px" alt="">
            </div>
        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center"
class="card-info">
    <div class="data-info" fxLayout="column" fxLayoutGap="30">
        <div fxFlex="row">
            <h2 class="color-primary">Olá, sou Paulo César</h2>
        </div>
        <div fxFlex="row" class="about" fxLayoutAlign="center center">
            <p class="color-primary t-center">eu sou Programador FullStack e tenho mais de 4 anos de experiência no
                desenvolvimento de aplicações com PHP e Angular outras linguagens.
                Atualmente sou formado em Análise e desenvolvimento de sistemas pela
                faculdade FATEC Franca).</p>
        </div>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center"
class="card-exp">
    <div class="data-info" fxLayout="column" fxLayoutGap="30">
        <div fxFlex="row">
            <h2 class="color-primary">Experiência</h2>
        </div>
        <div fxFlex="row">
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="30">
                <p fxFlex="50" class="color-primary f-bold">
                    2018 - 2019<br>
                    <span>Desenvolvedor fullstack - Presencial</span>
                </p>
                <p fxFlex="50"><span class="exp-title f-bold">Diskcópias - Franca / SP</span><br>
                    -Desenvolvimento sistema WEB, backend utilizando framework Laravel, frontend
                    bootstrap, html5, CSS3, Javascript, , Angular</p>
            </div>
        </div>
        
        <div fxFlex="row">
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="30">
                <p fxFlex="50" class="color-primary f-bold">
                    2019 - 2020<br>
                    <span>Desenvolvedor fullstack - Presencial</span>
                </p>
                
                <p fxFlex="50"><span class="exp-title f-bold">UpSysLabs- Franca / SP</span><br>
                    -Desenvolvimento sistema WEB, RESTAPI, Angular, Integrações com sistemas de
                    pagamentos como MercadoPago, Pagseguro, etc.
                    </p>
            </div>
        </div>
        
        <div fxFlex="row">
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="30">
                <p fxFlex="50" class="color-primary f-bold">
                    2020 - 2021<br>
                    <span>Desenvolvedor Backend - Remoto</span>
                </p>
                <p fxFlex="50"><span class="exp-title f-bold">RGB Brasil - Sõa Paulo / SP</span><br>
                    -Desenvolvimento sistema WEB, RESTAPI, Dashboards, Integrações com
                    sistemas de pagamentos como MercadoPago, Pagseguro, Angular, etc.</p>
            </div>
        </div>
        
        <div fxFlex="row">
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="30">
                <p fxFlex="50" class="color-primary f-bold">
                    2022 - 2022<br>
                    <span>Desenvolvedor fullstack - Presencial</span>
                </p>
                <p fxFlex="50"><span class="exp-title f-bold">HGF Pay - Franca / SP</span><br>
                    -Desenvolvimento sistema WEB, RESTAPI, Angular, Integrações com sistemas de
                    pagamentos como MercadoPago, Pagseguro, etc.
                    </p>
            </div>
        </div>
        
        <div fxFlex="row">
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="30">
                <p fxFlex="50" class="color-primary f-bold">
                    2022 - 2022<br>
                    <span>Desenvolvedor fullstack - Remoto</span>
                </p>
                <p fxFlex="50"><span class="exp-title f-bold">Squadra Digital - São Paulo / SP</span><br>
                    -Desenvolvimento sistema WEB, desenvolvimento Laravel, Angular, TDD,
                    metodologias Ágeis.
                    </p>
            </div>
        </div>
    </div>
</div>


<div fxLayout="column" fxLayoutAlign="center center"
class="card-degree">
    <div class="data-info-degree" fxLayout="column" fxLayoutGap="30">
        <div fxFlex="row">
            <h2 class="color-primary">Formação</h2>
        </div>
        <div fxFlex="row">
            <p fxFlex="100" class="color-primary">
                <span class="f-bold">Analise e desenvolvimento de sistemas</span><br>
                <span>fev 2018 - dez 2020 FATEC, Franca/sp</span><br>
            </p>
        </div>
        <div fxFlex="row"fxFlex="100" class="color-primary">
            <span  class="f-bold">Atividades Principais</span><br>
            <ul class="degree-list"> 
                <li>Projetar, Analisar, desenvolver, implantar e manter Sistemas de Informação.</li>
                <li>Usar metologias ágeis ( SCRUM, etc.).
                <li>Desenvolver Documentação junto desenvolvimento de software, visando a fácil
                manutenção por outros profissionais(matriz de
                rastreabilidade, BPMN, UML).</li>
                <li>Noções de Teste automatizados (TDD, DDD, etc).</li>
                <li>Desenvolvimento de API RESTFUL.</li>
                <li>Desenvolvimento de Frontend(Angular, React, Boostrap, ChackraUI).</li>
                <li>Desenvolvimento de Backend.</li>
                <li>Desenvolvimento Cloud com Azure, Jenkins, AWS(Cognito, EC2, etc).</li>
                <li>Conhecimento em Banco de Dados(MySQL, MongoDB, Postegres, etc.).</li>
            </ul>
        </div>
    </div>
</div>