<div class="header">
    <div class="content" 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutGap="40" >
            
        <div fxFlex="50" fxFlex.xs="50" fxFlex.xl="50"  fxLayoutAlign="left"
            class="pad-left">
            <span class="fontTitle">Paulo César R. Dos Santos</span>
        </div>
        <div fxFlex="50" fxFlex.xs="50"  fxFlex.xl="50" fxLayoutAlign="center">
            
            <div class="content" 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutGap="20" >
                <div fxFlex="50" fxFlex.xs="50"  fxFlex.xl="50" fxLayoutAlign="center">
                    <span class="fontTitle">Projetos</span>
                </div>
                <div fxFlex="50" fxFlex.xs="50"  fxFlex.xl="50" fxLayoutAlign="center">
                    <span class="fontTitle">Experiências</span>
                </div>
                <div fxFlex="50" fxFlex.xs="50"  fxFlex.xl="50" fxLayoutAlign="center">
                    <span class="fontTitle">Formação</span>
                </div>
            </div>
        </div>
    </div>
</div>